*{
    margin: auto;
    box-sizing: border-box;
}

table{
    font-size: 1rem;
    text-align: left;
    width: 100%;
}

ul{
    margin-bottom: 20px;
}

#photoInfo{
    font-size: 0.7rem;
}

#banner{
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: cornflowerblue;
}

#bannerImg{
    height: 50px;
    margin-top: 45px;
}

#subTitleSpan{
    color: cornflowerblue;
}

#publicationDate{
    font-size: 0.8rem;
}

.textColor{
    color: grey;
}

.divSpacing{
    margin: 20px 0 20px 0;
}

.tableHeadingRow{
    color: white;
    background-color:cornflowerblue;
}

.tableRowsColor{
    background-color: rgb(173, 202, 255);
}